<div class ="container">

  <% @results.each do |result| %>
   <li> En Position <%= result[:position] %>
    : <%= result[:username] %>
   <%= result[:x] %> <%= result[:sip].to_i %> gorgée(s)</li>
  <% end %>

  <div class="d-flex">
    <%= link_to 'Rejouer', room_path(@room), class: "btn btn-primary m-3"  %>
    <%= link_to 'Menu', root_path(@race), class: "btn btn-primary m-3"  %>
  </div>
</div>
