<div class="banner stick" style="background-image: linear-gradient(rgba(100,100,100,0.4),rgba(250,250,250,0.2)), url(https://trophees-gravures.com/wp-content/uploads/2018/02/CPB705G.jpg);">

  <div class ="container">


  <li class ="card mt-3 p-2">
    <%= @p1 %> :
    <% @results.each do |result| %>
      <% if @p1 == result[:position] %>
       <% @zouho1  <<  "#{result[:username]} distribue #{pluralize(result[:sip].to_i, 'gorgée', plural: 'gorgées')}" %>
       <% end %>
      <% end %>
    <% if @zouho1 == [] %>
        <% @zouho1 << "Dommage, personne n'a parié sur ce cheval !" %>
    <% end %>
    <% @zouho1.each do |zouho| %>
    <%= zouho %>
    <% end %>
  </li>

  <li class ="card mt-3 p-2">
    <%= @p2 %> :
    <% @results.each do |result| %>
      <% if @p2 == result[:position] %>
       <% @zouho2  <<  "#{result[:username]} distribue #{pluralize(result[:sip].to_i, 'gorgée', plural: 'gorgées')}" %>
       <% end %>
      <% end %>
    <% if @zouho2 == [] %>
        <% @zouho2 << "Dommage, personne n'a parié sur ce cheval !" %>
    <% end %>
    <% @zouho2.each do |zouho| %>
    <%= zouho %>
    <% end %>
  </li>

  <li class ="card mt-3 p-2">
    <%= @p3 %> :
    <% @results.each do |result| %>
      <% if @p3 == result[:position] %>
       <% @zouho3  <<  "#{result[:username]} est 3ème, il est neutre ( mais peut quand meme recevoir des gorgées des gagnants )" %>
       <% end %>
      <% end %>
    <% if @zouho3 == [] %>
        <% @zouho3 << "Personne n'a parié sur ce cheval !" %>
    <% end %>
    <% @zouho3.each do |zouho| %>
    <%= zouho %>
    <% end %>
  </li>

  <li class ="card mt-3 p-2">
    <%= @p4 %> :
    <% @results.each do |result| %>
      <% if @p4 == result[:position] %>
       <% @zouho4  <<  "#{result[:username]} boit #{pluralize(result[:sip].to_i, 'gorgée', plural: 'gorgées')}" %>
       <% end %>
      <% end %>
    <% if @zouho4 == [] %>
        <% @zouho4 << "Heureusement que personne n'a parié sur ce cheval !" %>
    <% end %>
    <% @zouho4.each do |zouho| %>
    <%= zouho %>
    <% end %>
  </li>

  <li class ="card mt-3 p-2">
    <%= @p5 %> :
    <% @results.each do |result| %>
      <% if @p5 == result[:position] %>
       <% @zouho5  <<  "#{result[:username]} boit #{pluralize(result[:sip].to_i, 'gorgée', plural: 'gorgées')}" %>
       <% end %>
      <% end %>
    <% if @zouho5 == [] %>
        <% @zouho5 << "Heureusement que personne n'a parié sur ce cheval !" %>
    <% end %>
    <% @zouho5.each do |zouho| %>
    <%= zouho %>
    <% end %>
  </li>



















  <!--     <% @classement.each do |classement| %>

        <% @results.each do |result| %>
          <% if classement == result[:position] %>
            <% if result[:position] == 2 %>
              <% result[:x] = "caca"  %>
            <% else %>
              v<% result[:x] = "pipi"  %>
            <% end %>
          <% result[:message]  =  "#{result[:username]} x #{result[:x]}" %>
          <% end %>

  <% end %>
  <% end %>

    <% @classement.each do |classement| %>
      <li> En <%= classement %> position :
      <% @results.each do |result| %>
         <% if classement == result[:position]%>
          <%= result[:message]%>
          <% end %>

      </li>
    <% end %> -->
   <!--  <% end %> -->
   <!--  <% @results.each do |result| %>
     <li> En Position <%= result[:position] %>
      : <%= result[:username] %>
     <%= result[:x] %> <%= result[:sip].to_i %> gorgée(s)</li>
    <% end %> -->

    <div class="text-center">
      <%= link_to 'Rejouer', room_path(@room), class: "btn btn-primary m-3 rejouer"  %>
      <%= link_to 'Menu', root_path(@race), class: "btn btn-primary m-3 menu"  %>
    </div>
  </div>
</div>
