<div class="container">
  <div id="usercont" class="d-none" data-participationscount="<%= @participations %>"></div>
    <div id="hip" class="hippo" data-un="<%= Running.where(position: 1).last.horse.name %>" data-deux="<%= Running.where(position: 2).last.horse.name %>" data-trois="<%= Running.where(position: 3).last.horse.name %>" data-quatre="<%= Running.where(position: 4).last.horse.name %>" data-cinq="<%= Running.where(position: 5).last.horse.name %>">
      <%= cl_image_tag Running.where(position: 1).last.horse.photo.key,
          id: Running.where(position: 1).last.horse.name,
          alt: "jockey1",
          style: "top: 110px; left: 62px;" %>
      <%= cl_image_tag Running.where(position: 2).last.horse.photo.key,
          id: Running.where(position: 2).last.horse.name,
          alt: "jockey2",
          style: "top: 110px; left: 59px;" %>
      <%= cl_image_tag Running.where(position: 3).last.horse.photo.key,
          id: Running.where(position: 3).last.horse.name,
          alt: "jockey3",
          style: "top: 110px; left: 56px;" %>
      <%= cl_image_tag Running.where(position: 4).last.horse.photo.key,
          id: Running.where(position: 4).last.horse.name,
          alt: "jockey4",
          style: "top: 110px; left: 53px;" %>
      <%= cl_image_tag Running.where(position: 5).last.horse.photo.key,
          id: Running.where(position: 5).last.horse.name,
          alt: "jockey5",
          style: "top: 110px; left: 50px;" %>
    </div>
    <% if @room.user == current_user %>
      <div class="d-flex justify-content-center">
        <button class="btn btn-info mt-3" id="race"> Lancer la course </button>
      </div>
    <% end %>
    <h3 id="mise-title" class="text-center mt-3"> Les mises :</h3>
    <h4 id="users" class="text-center ul mt-3" data-race=<%="#{@race.id}"%>>
      <% @users.each do |user| %>
        <%= render "races/user", user: user %>
      <% end %>
    </h4>
    <div class="d-flex justify-content-center">
      <%= link_to 'VOIR LES RESULTATS', race_runnings_path(@race), class: "btn btn-primary"  %>
    </div>
 </div>
