<div class="container">
    <div id="hippo" class="hippo" data-un="<%= Running.find_by(position: 1).horse.name %>" date-deux="<%= Running.find_by(position: 2).horse.name %>" date-trois="<%= Running.find_by(position: 3).horse.name %>" date-quatre="<%= Running.find_by(position: 4).horse.name %>" date-cind="<%= Running.find_by(position: 5).horse.name %>">
      <img id="horse1" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448363/yfp4aolbfntrgy3mk91am64u8osf.png" alt="jockey1">
      <img id="horse2" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448361/bc01q4le0iu7znz90mmblmn5o0hq.png" alt="jockey2">
      <img id="horse3" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448359/9hlz5f2py8v3y2flsq50g0c4mtj7.png" alt="jockey3">
      <img id="horse4" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448357/yj43fy6kppqb61trhgdlr133ymtn.png" alt="jockey4">
      <img id="horse5" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448355/c925pd31eo7aoyh8ikd2wjy6py4s.png" alt="jockey5">
    </div>

    <%= link_to 'VOIR LES RESULTATS', race_runnings_path(@race), class: "btn btn-primary"  %>
 </div>
    <h4 id="users" class="text-center ul" data-race=<%="#{@race.id}"%>>
      <% @users.each do |user| %>
        <%= render "races/user", user: user %>
      <% end %>
    </h4>
    <button class="btn" id="race"> click </button>
</div>
