<div class="container">
    <div id="hip" class="hippo" data-un="<%= Running.where(position: 1).last.horse.name %>" date-deux="<%= Running.where(position: 2).last.horse.name %>" date-trois="<%= Running.where(position: 3).last.horse.name %>" date-quatre="<%= Running.where(position: 4).last.horse.name %>" date-cind="<%= Running.where(position: 5).last.horse.name %>">
      <img id="horse1" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448363/yfp4aolbfntrgy3mk91am64u8osf.png" alt="jockey1">
      <img id="horse2" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448361/bc01q4le0iu7znz90mmblmn5o0hq.png" alt="jockey2">
      <img id="horse3" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448359/9hlz5f2py8v3y2flsq50g0c4mtj7.png" alt="jockey3">
      <img id="horse4" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448357/yj43fy6kppqb61trhgdlr133ymtn.png" alt="jockey4">
      <img id="horse5" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448355/c925pd31eo7aoyh8ikd2wjy6py4s.png" alt="jockey5">
    </div>
    <% if @room.user == current_user %>
      <div class="d-flex justify-content-center">
        <button class="btn btn-info mt-3" id="race"> Lancer la course </button>
      </div>
    <% end %>
    <h3 id="mise-title" class="text-center mt-3"> Les mises :</h3>
    <h4 id="users" class="text-center ul mt-3" data-race=<%="#{@race.id}"%>>
      <% @users.each do |user| %>
        <%= render "races/user", user: user %>
      <% end %>
    </h4>
    <div class="d-flex justify-content-center">
      <%= link_to 'VOIR LES RESULTATS', race_runnings_path(@race), class: "btn btn-primary"  %>
    </div>
 </div>
