<div class="background">
  <div class= "container">
    <div class="mt-3 text-center text-black">
      <h1>Choisissez un cheval</h1>
    </div>
    <% @horses.each do |horse| %>
      <div class="card-list">
        <div class="card-product" data-toggle="modal" data-target="#horse-<%= horse.id %>">
          <img src="https://res.cloudinary.com/dekexda28/image/upload/v1621950902/jockey1_uvghjx.png" />
          <div class="card-product-infos">
            <h2> <%= horse.name %> </h2>
            <p><%= horse.description%> <strong> Cote : <%= horse.runnings.last.rating %></strong></p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="horse-<%= horse.id %>" tabindex="-1" aria-labelledby="horse-<%= horse.id %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="horse-<%= horse.id %>">Nombre de gorgées</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= simple_form_for [@race, @bet] do |f| %>
              <%= f.input :horse_id, as: :hidden, input_html: { value: horse.id } %>
              <%= f.input :sip %>
              <%= f.submit 'Parier' %>
            <% end %>

            <div class="modal-body text-center">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <%#= link_to "Parier", race_bets_path(@race), class: 'btn btn-primary' %>
            </div>

          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
