 <div class= "align-self-center back">
  <div class="container text-center mt-3">
      <div class="zoom"><%= @room.code %></div>
      <p class="text-white">Envoie ce code à tes potes !</p>
      <div class="f p-4 mt-3">
      <h3 class="text-white">Joueurs</h3>
        <% @participations.each do |participation|%>
          <div class="card-product">
               <%= image_tag "https://avatars.githubusercontent.com/u/81183454?v=4" %>            <div class="card-product-infos">
              <h2><%= participation.user.username %></h2>
            </div>
          </div>
        <% end %>
      </div>


    <% if @room.user == current_user %>

      <%= button_to 'START', room_races_path(@room), class: "pbouton btn btn-primary mt-3 text-center"  %>
    <% end %>
    <p class="lead">
      <%= link_to 'Retourner au menu', root_path, class:"pbouton btn btn-primary mt-3" %>
    </p>
  </div>
</div>
